include LICENSE
include HISTORY
include README.md
include lib/*.c
include include/*.h
include tests/*.c
include tests/*.h
include Makefile
include .coveragerc
include .pylintrc
include test_drivers.cfg
include docs/*
